<!DOCTYPE html>
<html>
<head>
  <title>NTHU LoRa RurururururururururuBike</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyADVB2fe4Q48YuA8WoJB1ouT24j9WMkhuo">
  </script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <style>
    #googleMapDiv{
      position: absolute;
      width: 100vw;
      height: 100vh;
      top: 0;
      left: 0;
      z-index: -999;
    }
    .modal-header{
      text-align: center;
    }
    .carousel-item{
      text-align: center;
    }
  </style>
</head>
<body>
<div id="googleMapDiv"></div>
<div id="app"></div>
</body>
<script type="text/javascript" src="js/react/index_bundle.js"></script>
</html>