<div class="container" id="contactPanel">
    <% if(master){ %>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s2">
            <input placeholder="Name" id="plact_name" type="text" class="validate">
          </div>
          <div class="input-field col s2">
            <input placeholder="Lat" id="lat_name" type="text" class="validate">
          </div>
          <div class="input-field col s2">
            <input placeholder="Lng" id="lng_name" type="text" class="validate">
          </div>
          <div class="input-field col s3">
            <select id="type_name">
              <option value="" disabled selected>Choose Type</option>
              <option value="1">Education</option>
              <option value="2">Dome</option>
              <option value="3">Food</option>
              <option value="4">Play</option>
            </select>
          </div>
          <div class="input-field col s3">
            <a onclick="addPlace()" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Add</a>
          </div>
        </div>
      </form>
    </div>
    <% for(var i=0;i<contact.result.length;i++){ %>
    <div class="row">
		<div id="contactContent" class="col s12 orange lighten-2" style="border-radius:10px;">
			<div style="margin:5px;"><%= contact.result[i].data.content%></div>
		</div>
    </div>
    <% } %>
    <% }else{ %>
    <div class="row">
      <div id="contactContent" class="col s12 orange lighten-2" contenteditable="true" style="border-radius:10px;min-height: 200px;">
        
      </div>
    </div>
    <div class="row" style="text-align:center;">
      <a onclick="sendContact();" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Send</a>
    </div>
    <% } %>
</div>
<script>
  $('select').material_select();
  <% if(master){ %>
  function addPlace() {
    var name = $('#plact_name').val();
    var lat = $('#lat_name').val();
    var lng = $('#lng_name').val();
    var type = $('#type_name').val();
    $.post('/addPlace',{name:name,lat:lat,lng:lng,type:type},function(response){
      $('#plact_name').val("");
      $('#lat_name').val("");
      $('#lng_name').val("");
      $('#type_name').val("");
    });
  }
  <% }else{ %>
  function sendContact() {
    $.post('/sendContact',{content:$('#contactContent').html()},function(response) {
      $('#contactContent').html("");
    });
  }
  <% } %>
</script>