<!DOCTYPE html>
<html>
  <head>
    <title>React Test</title>
    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
    <style>
      .screen{
        border: 1px solid;
      }
      #faceDetectVideo{
          height: 50vh;
      }
      #screenShotVideo{
          height: 50vh;
      }
    </style>
  </head>
  <body>
    <div>
      <video id="faceDetectVideo" class="screen"></video>
      <canvas id="screenShotVideo" class="screen"></canvas>
    </div>
  </body>
  <script type="text/javascript" src="./js/face.js"></script>
</html>